@import "../shared.scss";

.dashboard {
    padding: 3em;
}

.appointmentsToday {
    margin-top: 20px;
}

.patientCards {
    display: grid;
    gap: 10px 0;
}

.stats {
    .name {
        color: $primary;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 4em;
        margin: 0;
    }

}